absl-py==0.7.1
aiml==0.8.6
aniso8601==8.0.0
appdirs==1.4.3
applescript==2019.4.13
apyori==1.1.1
astor==0.7.1
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.8.0
bleach==3.1.0
blis==0.4.1
boto3==1.13.1
botocore==1.16.1
bs4==0.0.1
cachetools==3.1.1
certifi==2019.3.9
cffi==1.13.2
chardet==3.0.4
chatbot==1.5.2b0
ChatterBot==1.0.2
chatterbot-corpus==1.2.0
cheroot==8.2.1
CherryPy==18.4.0
Click==7.0
cntk==2.7
colorama==0.4.3
contextlib2==0.6.0.post1
contextvars==2.4
cycler==0.10.0
cymem==2.0.3
Cython==0.29.14
decorator==4.4.0
defusedxml==0.6.0
detect==2019.4.13
dialogflow==0.7.2
distlib==0.3.0
Django==2.1.7
dlib==19.16.0
dnspython==1.16.0
docutils==0.15.2
entrypoints==0.3
et-xmlfile==1.0.1
eventlet==0.25.1
excel2json-3==0.1.6
face-recognition==1.2.3
face-recognition-models==0.3.0
feedparser==5.2.1
filelock==3.0.12
fire==0.1.3
Flask==1.1.1
Flask-Jsonpify==1.5.0
Flask-RESTful==0.3.7
Flask-SocketIO==4.2.1
Flask-SQLAlchemy==2.4.1
gast==0.2.2
geojson==2.4.1
gevent==1.4.0
google-api-core==1.14.3
google-auth==1.7.1
googleapis-common-protos==1.6.0
greenlet==0.4.15
grpcio==1.19.0
gTTS==2.0.3
gTTS-token==1.1.3
gunicorn==18.0
h11==0.9.0
h2==3.1.1
h5py==2.9.0
hpack==3.0.0
hstspreload==2020.1.17
httpx==0.11.1
hyperframe==5.2.0
idna==2.8
immutables==0.11
importlib-metadata==0.23
importlib-resources==1.0.2
imutils==0.5.3
ipykernel==5.1.4
ipython==7.12.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jaraco.functools==2.0
jdcal==1.4.1
jedi==0.16.0
Jinja2==2.10.1
jmespath==0.9.5
joblib==0.14.0
jsonpickle==1.2
jsonschema==3.2.0
julia==0.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.1
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
keyring==21.1.0
kiwisolver==1.0.1
lxml==4.5.0
Markdown==3.1
MarkupSafe==1.1.1
mathparse==0.1.2
matplotlib==3.0.3
mistune==0.8.4
mock==2.0.0
monotonic==1.5
more-itertools==7.2.0
mpg123==0.4
msgpack==0.6.1
msgpack-numpy==0.4.4.2
murmurhash==1.0.2
mysql==0.0.2
mysql-connector==2.2.9
mysqlclient==1.4.6
nbconvert==5.6.1
nbformat==5.0.4
nltk==3.4
notebook==6.0.3
numpy==1.16.2
only==2019.4.13
opencv-contrib-python==3.4.2.17
opencv-python==3.4.2.17
openpyxl==3.0.3
paho-mqtt==1.4.0
pandas==0.25.3
pandocfilters==1.4.2
parso==0.6.1
pbr==5.1.3
pep517==0.6.0
pickleshare==0.7.5
Pillow==5.4.1
Pint==0.9
pkginfo==1.5.0.1
plac==1.1.3
playsound==1.2.2
portend==2.6
preshed==3.0.2
prometheus-client==0.7.1
prompt-toolkit==3.0.3
protobuf==3.7.1
psutil==5.6.1
public==2019.4.13
py4j==0.10.8.1
PyAIML==0.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.19
pydub==0.23.1
pygame==1.9.5
Pygments==2.5.2
pymongo==3.7.2
pyowm==2.10.0
pyparsing==2.3.1
pyrsistent==0.15.7
pyserial==3.4
python-dateutil==2.7.5
python-engineio==3.9.3
python-for-android==2019.10.6
python-resize-image==1.1.19
python-slugify==4.0.0
python-socketio==4.3.1
python-status==1.0.1
pytoml==0.1.21
pyttsx3==2.7
pytz==2018.9
pywin32==225
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==3.13
pyzmq==18.0.1
qtconsole==4.6.0
readme-renderer==24.0
requests==2.21.0
requests-toolbelt==0.9.1
rfc3986==1.3.2
rsa==4.0
runcmd==2019.4.13
s3transfer==0.3.3
scikit-learn==0.21.3
scipy==1.2.1
selenium==3.141.0
Send2Trash==1.5.0
sensordroid==2.1.3.4
sh==1.12.14
simple-rest-client==1.0.4
simplejson==3.16.0
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
slidingwindow==0.0.13
sniffio==1.1.0
soupsieve==1.9.2
spacy==2.2.2
SpeechRecognition==3.8.1
SQLAlchemy==1.2.18
srsly==0.2.0
statistics==1.0.3.5
swiglpk==4.65.0
tabulate==0.8.3
temp==2019.4.13
tempora==1.14.1
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-cpu==0.0.0
tensorflow-estimator==1.13.0
tensorflow-object-detection-api==0.1.1
tensorpack==0.9.4
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
thinc==7.3.1
tornado==6.0.3
tqdm==4.31.1
traitlets==4.3.3
twine==3.1.1
urllib3==1.24.1
virtualenv==20.0.7
vlc==2019.4.13
waitress==1.4.2
wasabi==0.4.0
wcwidth==0.1.8
webcam-streamer==1.0.5
webencodings==0.5.1
Werkzeug==0.15.1
widgetsnbextension==3.5.1
wikipedia==1.4.0
xlrd==1.2.0
yahoo-finance==1.4.0
youtube-dl==2019.7.30
zc.lockfile==2.0
zipp==0.6.0
